/* You can add global styles to this file, and also import other style files */
h1 {
    font-size: 32px;
}

span.badge.new:after {
    content: ''
}

.main-container {
    padding-bottom: 170px

}

table {
    @media (max-width: 767px) {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
}

.material-icons {
    cursor: pointer;
}