<section class="container">
	<h1 class="mb-5">Wizard's List</h1>
	<button class="waves-effect waves-light btn light-blue darken-3" routerLink="/wizard/new">Add wizard</button>
	<table>
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Speciality</th>
				<th>Tools</th>
				<th>Alive</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>Alvin</td>
				<td>Eclair</td>
				<td>$0.87</td>
				<td>$0.87</td>
				<td>$0.87</td>
			</tr>
		</tbody>
	</table>
	<article class="mx-auto d-flex flex-column align-items-center">
		<p class="red-text text-darken-4">There is nothing here <strong>yet</strong></p>
		<i class="material-icons">mood_bad</i>
	</article>

	<article class="preloader-wrapper big active mx-auto d-flex flex-column align-items-center">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div><div class="gap-patch">
				<div class="circle"></div>
			</div><div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</article>
</section>
